body{
    margin: 0;
    padding: 0;
}
.container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0;
}

/* universal */
.play-g{
    height: inherit;
    max-width: 450px;
    margin: auto;
    border: 1px solid rgb(160, 209, 237);
    background-color: black;
}


.gcont{
 background-color: black;
 height: 80%;
}

.topbar{
    display: flex;
    color: #fff;
    background-color: rgb(12, 98, 12);
    border-radius: 0 0 20px 20px;
    z-index: 50;
}
.result_text{
    margin: 0 !important;
}

.ticket-details{
    display: inline;
    margin-left: 10px;
}

.icon-cont img{
    height: 80px;
    display: inline;
    margin: 5px;
    border-radius: 5px;
}

#manual_scan{
    margin: 10px;
    border-radius: 0 0 10px 0;
    background-color: rgb(46, 41, 61);
    color: orangered;
}



/*  */

.scanner-cont{
    max-height: 90%;
    overflow: hidden;
}

#reader{
    max-width: 100%;
}




/*  */
.nav{
    background-color: rgb(12, 98, 12);
    padding: 4px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    bottom: 0;
    position: absolute;
    z-index: 40;
}

#scan_count{
    margin-left: 8px;
    background-color: rgb(46, 41, 61);
    color: #fff;
    padding: 16px;
    border-radius: 50%;
}

.processing{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(2, 33, 2, 0.785);
}

.processor{
    width: 100px;
    margin-top: 200px;
}